@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), 
       local('NotoSansKR-Light'), 
       url(../fonts/NotoSans-Light.woff) format('woff'),
       url(../fonts/NotoSans-Light.woff2) format('woff2'), 
       url(../fonts/NotoSans-Light.otf) format('otf'), 
       url(../fonts/NotoSans-Light.eot) format('eot');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), 
       local('NotoSansKR-Regular'), 
       url(../fonts/NotoSans-Regular.woff) format('woff'),
       url(../fonts/NotoSans-Regular.woff2) format('woff2'), 
       url(../fonts/NotoSans-Regular.otf) format('otf'), 
       url(../fonts/NotoSans-Regular.eot) format('eot');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR Medium'), 
       local('NotoSansKR-Medium'), 
       url(../fonts/NotoSans-Medium.woff) format('woff'),
       url(../fonts/NotoSans-Medium.woff2) format('woff2'), 
       url(../fonts/NotoSans-Medium.otf) format('otf'), 
       url(../fonts/NotoSans-Medium.eot) format('eot');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans KR Bold'), 
       local('NotoSansKR-Bold'), 
       url(../fonts/NotoSans-Bold.woff) format('woff'),
       url(../fonts/NotoSans-Bold.woff2) format('woff2'), 
       url(../fonts/NotoSans-Bold.otf) format('otf'), 
       url(../fonts/NotoSans-Bold.eot) format('eot');
}

* {
  margin: 0;
  padding: 0;
}
body {   
  font-family: "Noto Sans KR", sans-serif !important;
  font-size: 16px;  
}
#wrap {
  
}


/* header */

header {  
  position: fixed;  
  top: 0;
  left:0;
  width: 100%;
  height: 70px;

  background-color:#fff;   
}
header .git {
  position: absolute;
  top: 20px;
  right: 20px;  
}
header .logo {
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;  
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.05rem;  
}
header .logo a {
  text-decoration: none;
  color: #000;
}
header .menu {
  position: absolute;  
  top: 25px;
  left: 300px;  
}
header .menu li { 
  float: left;
  margin-left: 50px; 
}
header .menu a {
  color: #9ea5aa;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  outline: none;
}
header .menu a:hover {
  color: #000;
}


/* container */

#container {
  height: 100%;  
  padding-top:70px;  

}

/* contents */
#contents {
  position: absolute;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  height: 100%;
  top: 120px;
  background-color: #35aee6;
}
#contents > h1 {
  font-size: 1.8rem;
  font-weight: 300; 
  color: #4d5256; 
}
#contents > h2 {
  font-size: 1.2rem;
  font-weight: 500; 
  color: #000; 
  margin-top: 50px;
  line-height: 1.8rem;
}
#contents .section {
  display: block;
  width: 95%;   
  text-align: left;   
  font-weight: 300;
  line-height: 1.2;     
  letter-spacing: 0.05rem;
  color: #abd8ed;
  font-size: 3.5rem;  
  background-color: aquamarine;
}  
#contents .section a {
  color: #35aee6;
  text-decoration: none;
}



/* footer */

footer {  
  position: absolute;
  width: 100%; 
  height: 70px;
  background-color:#fff;    
  border-top: #c1c1c1 1px solid;  
  bottom: 0;
  height: 50px; 
  color: #333;
  font-size: 0.8rem;
  font-weight: 300;   
}
footer .copyright {  
  position: absolute;  
  left: 20px;
  margin-top: 20px;
  color: #c1c1c1;  
}


/* sub01 - Grid System */



